//Variaveis usadas no meu Sass
$cor-padrao: darken(#c24e4b, 0); // deixa a cor mais escura
$cor-auxiliar: lighten(#1e2c35, 0); // deixa a cor mais clara

$corbranca: #fff;

$mq-mobile: "(max-width: 980px)"; // tamanho do div
$mq-mobile-width: "(width: auto)";

